body{
    background-color:black ;
}

.main_container {
    max-width: 450px;
    background-color: #0bb299;
    padding: 20px;
    border: 1px solid rgba(23,23,23, .1);
    border-radius: 3px;
    margin-left: 500px;
    margin-top: 200px;
}
h1 {
    text-align: center;
    color: #232323;
}

.login_signup_container input[type='text'], .login_signup_container input[type='email'], .login_signup_container input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #8795A1;
    outline: none;
    margin-bottom: 10px;
    font-size: 14px;
    background: none;
    color: #232323;
    font-family: 'Open Sans', sans-serif;
}

.login_signup_container input[type='submit'] {
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid rgba(23,23,23, .1);
    outline: none;
    background-color: #1F9D55;
    margin-left: 150px
}

.form_link{
    font-size: larger;
    color: #9d381f;
    margin-left: 10px;
}



 
 